<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recuperar contraseña | Nexus</title>

<link rel="stylesheet" th:href="@{/css/olvidar.css}">

</head>

<body>

<!-- VIDEO FONDO -->
<video autoplay muted loop class="video-bg">
<source src="videos/FondoL.mp4" type="video/mp4">
</video>


<div class="container">

<div class="card">

<h2>Recuperar contraseña</h2>

<p class="descripcion">
Ingresa tu correo y te enviaremos un enlace para restablecer tu contraseña.
</p>

<form>

<input type="email" placeholder="Correo electrónico" required>

<button type="submit">Enviar enlace</button>

</form>

<a href="login.html" class="volver">← Volver al login</a>

</div>

</div>



</body>

</html>