<aside class="sidebar" id="sidebar" th:fragment="sidebarAdmin">

    <div class="logo">Nexus Admin</div>

    <nav class="sidebar-nav">

        <a th:href="@{/admin/dashboard}">🏠 Inicio</a>

        <a th:href="@{/admin/gimnasios}">🏢 Gimnasios</a>

        <a th:href="@{/admin/usuarios}">👥 Usuarios</a>

        <a th:href="@{/admin/clases}">🥊 Clases</a>

        <a th:href="@{/admin/reservas}">📋 Reservas</a>

        <a th:href="@{/admin/pagos}">💳 Pagos</a>

        <a th:href="@{/admin/config}">⚙️ Ajustes</a>

    </nav>

</aside>